* {
	margin:0; padding:0; 	/*全要素のマージン・パディングをリセット*/
} 

div {
	visibility: visible ;
	border-radius: 10px;
	position : absolute;
	border : 3px solid DimGray ;
	border-top-width : 1px;
	border-left-width : 1px;
}

div#console 
{
	top :480px ;
	left:0px ;
	position : absolute;
}

canvas
{
	width : 640px;
	height :480px;
	top :0px ;
	left:0px ;
	position : absolute;
}